---
layout: default
refactor: true
panel_includes:
  - toc
tail_includes:
  - related-posts
  - post-nav
  - comments
---

{% include lang.html %}

<article class="px-1">
  <header>
    <h1 data-toc-skip>{{ page.title }}</h1>
    {% if page.description %}
      <p class="post-desc fw-light mb-4">{{ page.description }}</p>
    {% endif %}

    <div class="post-meta text-muted">
      <!-- published date -->
      <span>
        {{ site.data.locales[lang].post.posted }}
        {% include datetime.html date=page.date tooltip=true lang=lang %}
      </span>

      <!-- lastmod date -->
      {% if page.last_modified_at and page.last_modified_at != page.date %}
        <span>
          {{ site.data.locales[lang].post.updated }}
          {% include datetime.html date=page.last_modified_at tooltip=true lang=lang %}
        </span>
      {% endif %}

      {% if page.image %}
        {% capture src %}src="{{ page.image.path | default: page.image }}"{% endcapture %}
        {% capture class %}class="preview-img{% if page.image.no_bg %}{{ ' no-bg' }}{% endif %}"{% endcapture %}
        {% capture alt %}alt="{{ page.image.alt | xml_escape | default: "Preview Image" }}"{% endcapture %}

        {% if page.image.lqip %}
          {%- capture lqip -%}lqip="{{ page.image.lqip }}"{%- endcapture -%}
        {% endif %}

        <div class="mt-3 mb-3">
          <img {{ src }} {{ class }} {{ alt }} w="1200" h="630" {{ lqip }}>
          {%- if page.image.alt -%}
            <figcaption class="text-center pt-2 pb-2">{{ page.image.alt }}</figcaption>
          {%- endif -%}
        </div>
      {% endif %}

      <div class="d-flex justify-content-between">
        <!-- author(s) -->
        <span>
          {% if page.author %}
            {% assign authors = page.author %}
          {% elsif page.authors %}
            {% assign authors = page.authors %}
          {% endif %}

          {{ site.data.locales[lang].post.written_by }}

          <em>
            {% if authors %}
              {% for author in authors %}
                {% if site.data.authors[author].url -%}
                  <a href="{{ site.data.authors[author].url }}">{{ site.data.authors[author].name }}</a>
                {%- else -%}
                  {{ site.data.authors[author].name }}
                {%- endif %}
                {% unless forloop.last %}{{ '</em>, <em>' }}{% endunless %}
              {% endfor %}
            {% else %}
              <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>
            {% endif %}
          </em>
        </span>

        <div>
          <!-- pageviews -->
          {% if site.pageviews.provider and site.analytics[site.pageviews.provider].id %}
            <span>
              <em id="pageviews">
                <i class="fas fa-spinner fa-spin small"></i>
              </em>
              {{ site.data.locales[lang].post.pageview_measure }}
            </span>
          {% endif %}

          <!-- read time -->
          {% include read-time.html content=content prompt=true lang=lang %}
        </div>
      </div>
    </div>
  </header>

  <!-- TOC를 삽입할 위치 -->
  <div id="toc-top"></div>

  <div class="content">
    {{ content }}
  </div>

  <div class="post-tail-wrapper text-muted">
    <!-- categories -->
    {% if page.categories.size > 0 %}
      <div class="post-meta mb-3">
        <i class="far fa-folder-open fa-fw me-1"></i>
        {% for category in page.categories %}
          <a href="{{ site.baseurl }}/categories/{{ category | slugify | url_encode }}/">{{ category }}</a>
          {%- unless forloop.last -%},{%- endunless -%}
        {% endfor %}
      </div>
    {% endif %}

    <!-- tags -->
    {% if page.tags.size > 0 %}
      <div class="post-tags">
        <i class="fa fa-tags fa-fw me-1"></i>
        {% for tag in page.tags %}
          <a
            href="{{ site.baseurl }}/tags/{{ tag | slugify | url_encode }}/"
            class="post-tag no-text-decoration"
          >
            {{- tag -}}
          </a>
        {% endfor %}
      </div>
    {% endif %}

    <div
      class="
        post-tail-bottom
        d-flex justify-content-between align-items-center mt-5 pb-2
      "
    >
      <div class="license-wrapper">
        {% if site.data.locales[lang].copyright.license.template %}
          {% capture _replacement %}
        <a href="{{ site.data.locales[lang].copyright.license.link }}">
          {{ site.data.locales[lang].copyright.license.name }}
        </a>
        {% endcapture %}

          {{ site.data.locales[lang].copyright.license.template | replace: ':LICENSE_NAME', _replacement }}
        {% endif %}
      </div>

      {% include post-sharing.html lang=lang %}
    </div>
    <!-- .post-tail-bottom -->
  </div>
  <!-- div.post-tail-wrapper -->

  <script src="https://utteranc.es/client.js"
    repo="WonYoungShin/wonyoungshin.github.io"
    issue-term="pathname"
    theme="preferred-color-scheme"
    crossorigin="anonymous"
    async>
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      function generateTOC(tocElement) {
        if (tocElement) {
          var tocContent = document.querySelectorAll('h1, h2, h3');
          var tocList = document.createElement('ul');
          var currentLevel = 1;
          var currentList = tocList;
          var skipHeadings = ['원영의 개발로그', '인기 태그', '최근 업데이트', '바로가기'];
  
          tocContent.forEach(function(heading) {
            var headingText = heading.textContent.trim();
            console.log('Processing heading:', headingText); // 디버그 로그
            if (heading.getAttribute('data-toc-skip') !== null || skipHeadings.includes(headingText)) {
              console.log('Skipping heading:', headingText); // 디버그 로그
              return;
            }
            if (!heading.id) {
              heading.id = headingText.replace(/\s+/g, '-').toLowerCase();
            }
  
            var level = parseInt(heading.tagName.substring(1));
            if (level > currentLevel) {
              if (currentList.lastChild) {
                var newList = document.createElement('ul');
                currentList.lastChild.appendChild(newList);
                currentList = newList;
              }
            } else if (level < currentLevel) {
              currentList = tocList;
              for (var i = 1; i < level; i++) {
                if (currentList.lastChild) {
                  currentList = currentList.lastChild.querySelector('ul') || currentList;
                }
              }
            }
            currentLevel = level;
  
            var listItem = document.createElement('li');
            var link = document.createElement('a');
            link.href = '#' + heading.id;
            link.textContent = headingText;
            listItem.appendChild(link);
  
            // 기호 추가
            var symbol = document.createElement('span');
            symbol.textContent = '• '; // 원하는 기호로 변경 가능
            listItem.insertBefore(symbol, link);
  
            currentList.appendChild(listItem);
          });
  
          tocElement.appendChild(tocList);
        }
      }
  
      var tocTop = document.getElementById('toc-top');
      console.log("TOC Top Element:", tocTop);
      generateTOC(tocTop);
    });
  </script> 

    
</article>
